<!DOCTYPE html>
<html lang="es">
    <head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M I X A</title>
    </head>

    
    <body>
        
        <nav>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photos">Photos</a>
            <a href="/home">Home</a>
        </nav>
        
        <div id="container">
        <h1>A b o u t</h1>
        <br>
        <!-- <span id="imagenPrincipal"> <img src="/images/mixa1.jpeg" alt= "Mixa" height="500vh"> </span> -->
        <div class="text">Mixa es una gata siamesa de 9 años de edad con un temperamento cariñoso y juguetón. Vive en una casa donde disfruta de sus actividades favoritas de dormir, comer, romper plantas y jugar con un piolín. A pesar de su pequeño tamaño, es una gata curiosa y valiente, que no tiene miedo a explorar nuevos lugares. Sin embargo, también es muy hogareña, y le encanta pasar tiempo con sus dueños acurrucada en su regazo. Mixa es una gata muy amorosa y leal a su familia, y suele ofrecerles caricias y abrazos para mostrar su afecto.</div>
        <script>"js/index.js"</script>
        </div>
    </body>

</html>