<!DOCTYPE html>
<html lang="es">
    <head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M I X A</title>
    </head>

    
    <body>
        
        <nav>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photos">Photos</a>
            <a href="/home">Home</a>
        </nav>
        
        <div id="container">
        <h1>M i x a</h1>
        <br>
        <span id="imagenPrincipal"> <img src="/images/mixa1.jpeg" alt= "Mixa" height="500vh"> </span>
        <script>"js/index.js"</script>
        </div>
    </body>

</html>