<!DOCTYPE html>
<html lang="es">
    <head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M I X A</title>
    </head>

    
    <body>
        
        <nav>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photos">Photos</a>
            <a href="/home">Home</a>
        </nav>
        
        <div id="container">
        <h1>W o r k s</h1>
        <br>
        <!-- <span id="imagenPrincipal"> <img src="/images/mixa1.jpeg" alt= "Mixa" height="500vh"> </span> -->
        <div class="text"> Mixa, la gata siamesa de 9 años, era conocida por todos por su gran apetito y su amor por la comida. Pero lo que la mayoría de la gente no sabía era que Mixa también tenía un lado aventurero.
            Un día, Mixa decidió explorar el jardín detrás de su casa, que siempre había sido un lugar fascinante para ella. Sin embargo, esta vez, la aventura tomó un giro inesperado cuando Mixa se encontró con un grupo de plantas malvadas que estaban tratando de invadir el jardín.
            Mixa no se dejó intimidar por las plantas y decidió ponerse en acción para proteger su hogar. Con su inteligencia y astucia, Mixa logró descubrir una debilidad en las plantas y con su habilidad para saltar y su fuerza, logró derrotarlas una por una.
            Después de su épica victoria, Mixa regresó a su casa y recibió una gran ovación por parte de sus dueños. Pero lo más importante para ella fue el hecho de que había protegido su hogar y demostrado que, a pesar de su amor por la comida, también tenía un gran corazón y un espíritu aventurero.
            Desde ese día en adelante, Mixa se convirtió en la heroína del jardín y siempre será recordada como la gata valiente que salvó el día.
        </div>
        <script>"js/index.js"</script>
        </div>
    </body>

</html>